doctype html
html
	head
		title Request Man
		link(rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.css")
		link(rel="stylesheet" href="/assets/css/style.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
	body.grey.lighten-5
		.container-wide
			.row
				block content
		script(src="/bower_components/jquery/dist/jquery.js")
		script(src="/bower_components/materialize/dist/js/materialize.js")
		script(src="/bower_components/materialize/js/sidenav.js")
		script(src="/bower_components/moment/moment.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js")
		script(src="/assets/js/main.js")